<div class="col-sm-6 col-md-4">
    <div class="thumbnail  advert-card">
        <img class="icon-advert-card" src="../www/assets/images/image.png" alt="Advertisement">

        <div class="caption">
            <h5>Назва: 
                <span class="name-advert-card"><%$('#name').val()%></span>
            </h5>
            <h5>Місце: 
                <span class="address-advert-card"><%$('#address').val()%></span>
            </h5>
            <h5>Дата: 
                <span class="date-advert-card"><%$('#date').val()%></span>
            </h5>
        </div> 
        <button type="button" class="btn btn-advert-details">Детальніше</button>
    </div>
</div>