<div class="col-sm-6 col-md-4">
    <div class="thumbnail  advert-card">
        <img class="advert-icon" src="../www/assets/images/image.png" alt="Advertisement">

        <div class="caption">
            <h5>Назва: 
                <span id="name"><%$('#name').val()%></span>
            </h5>
            <h5>Місце: 
                <span id="address"><%$('#address').val()%></span>
            </h5>
            <h5>Дата: 
                <span id="date"><%$('#date').val()%></span>
            </h5>
        </div> 
        <button type="button" class="btn advert-details-btn">Детальніше</button>
    </div>
</div>