    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="assets/images/image.png" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="name-advert-card"><%= advert.name %></h3>
            <p class="category-advert-card"><%= advert.category %></p>
            <p class="description-advert-card"><%= advert.description %></p>
            <button type="button" class="btn btn-warning btn-details" data-toggle="modal" data-target="#advertDetails">Детальніше<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>

<hr>
