    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="name-advert-card">Project One</h3>
            <p class="description-advert-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <button type="button" class="btn btn-primary bnt-details">Детальніше<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>

<hr>
