    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="name-advert-card"><%('#name').val()%></h3>
            <p class="description-advert-card"><%('#description').val()%></p>
            <button type="button" class="btn btn-warning bnt-details">Детальніше<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>

<hr>
