
.advert-form{
    width: 43%;
    float: left;
    margin-right: 3%;
}
    
.contact-form{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 45%;
}
    
#googleMap {
    height:400px;
    width:500px;
}

#btn-add-advert{
    margin-top: 15px;
}