.main-panel{
    background: white;
    width: 75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 8px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    //padding: 8px;
    
    .navbar{
        margin-bottom: 10px;
        display: block;
        width: auto;
        height: auto;
        margin-left: 32%;
    }
    
    #lost{
        font-size: 20px;
        padding-left: 20%;
        padding-right: 20%;
        margin-right: 50px;
    }
    
    #find{
        font-size: 20px;
        padding-left: 22%;
        padding-right: 22%;
    }
    
}

#add-button{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 500;
    margin-bottom: 3%;
    margin-right: 4%;
    background-color: @mainColor;
    color: white;
    border-radius: 100%;
    
    .glyphicon-plus{
        font-size: 20px;
        margin: 15px;
        margin-top: 10px;
    }
}

#advert_list{
    margin: 2%;

.advert-card{
    padding: 2%;
    height: 355px;
    margin: 2%;
    background-color: lighten(@mainColor, 40%);
    
    h5{
        font-weight: bold;
    }
    
    .btn-advert-details{
        background-color: @mainColor;
        color: white;
    }
    
    .icon-advert-card{
        width: 200px;
        height: 200px;
    }
}
    
}



