body {
    padding-top: 70px;
    
    .navbar-brand{
        color: yellow;
    }
    
    #btn-add-advert {
        margin: 5px;
    }
    
    .navbar-collapse-1{
        
    }

    footer {
        margin: 50px 0;
    }
}

